[bumpversion]
current_version = 1.26.3
commit = True
tag = False

[bumpversion:file:setup.py]
serialize = {major}.{minor}.{patch}

[bumpversion:file:docs/conf.py]
serialize = {major}.{minor}.{patch}

[bumpversion:file:frontend/app/package.json]
search = "version": "{current_version}",
replace = "version": "{new_version}",
