.eggs
.git
.github/actions/job-checker/node_modules
.idea
.mypy_cache
.pytest_cache
.run
build
chromedriverlog.txt
frontend/app/.env.development.local
frontend/app/.idea
frontend/app/.nyc_output
frontend/app/build
frontend/app/coverage
frontend/app/dist
frontend/app/node_modules
frontend/build
frontend/common/node_modules
frontend/dev-proxy/node_modules
frontend/build
frontend/logs
frontend/node_modules
node_modules
rotkehlchen.egg-info
rotkehlchen.log
rotkehlchen_py_dist
