.eggs
.idea
.run
build
frontend/logs
frontend/app/.env.development.local
frontend/app/build
frontend/app/.nyc_output
frontend/app/coverage
frontend/app/dist
frontend/electron-build
rotkehlchen.egg-info
rotkehlchen_py_dist
chromedriverlog.txt
rotkehlchen.log
.mypy_cache
.pytest_cache
node_modules
