node_modules/
*.pyc
.mypy_cache/
/tests/.cache
error.log
.cache/
build/
rotkehlchen_py_dist/
rotkehlchen.egg-info/
rotkehlchen-linux-x64
.DS_Store
rotkehlchen.log
.pytest_cache
ui/.ignore
pytestdebug.log
dist/
.eggs
