node_modules/
*.pyc
.mypy_cache/
.coverage
htmlcov/
/tests/.cache
error.log
.cache/
build/
rotkehlchen_py_dist/
rotkehlchen.egg-info/
rotkehlchen-linux-x64
.DS_Store
rotkehlchen.log
tools/data_faker/data_faker.log
.pytest_cache
ui/.ignore
pytestdebug.log
dist/
.eggs
docs/_build
.idea
failure-screenshots/
chromedriverlog.txt
