node_modules/
*.pyc
.mypy_cache/
.coverage
htmlcov/
/tests/.cache
error.log
.cache/
build/
rotkehlchen_py_dist/
rotkehlchen.egg-info/
rotkehlchen-linux-x64
.DS_Store
*rotkehlchen.log
tools/data_faker/data_faker.log
tools/find-duplicate-constants/target
.pytest_cache
ui/.ignore
pytestdebug.log
dist/
.eggs
docs/_build
.idea
failure-screenshots/
chromedriverlog.txt
.vscode/settings.json
sqlcipher.dll
libcrypto-1_1-x64.dll
/.run/
frontend/logs
.venv
.pnpm-debug.log
colibri/target
**/.claude/
out
