[MASTER]
jobs=4
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no
init-hook="import sys; sys.path.append('.')"
load-plugins=tools.pylint.log_checker,tools.pylint.not_checker

# Blacklist files or directories (basenames, not paths)
ignore=

# blacklist files or directories by regex  (basenames, not paths)
ignore-patterns=

[EXCEPTIONS]

overgeneral-exceptions=Exception

[BASIC]

bad-names=foo,bar,baz,toto,tutu,tata
good-names=i,j,k,_

[LOGGING]

logging-modules=logging

[MESSAGES CONTROL]

disable=all
enable=
    no-value-for-parameter,
    too-many-format-args,
    no-member,
    bad-except-order,
    redefined-builtin,
    unused-variable,
    no-self-use,
    import-self,
    useless-object-inheritance,
    unused-argument,
    unexpected-keyword-arg,
    expression-not-assigned,
    pointless-statement,
    unused-import,
    inconsistent-return-statements,
    reimported,
    too-many-function-args,
    no-else-raise,
    no-else-return,
    raise-missing-from,
    useless-return,
    consider-using-enumerate,
    bare-except,
    no-else-continue,
    deprecated-method,
    consider-using-in,
    superfluous-parens,
    return-in-init,
    undefined-loop-variable,
    assignment-from-none,
    simplifiable-if-expression,
    bad-super-call,
    duplicate-string-formatting-argument,
    misplaced-comparison-constant,
    unidiomatic-typecheck,
    rotki-lognokwargs,
    rotki-nonbooleannot

[REPORTS]

reports=no
score=no

[FORMAT]

expected-line-ending-format=LF
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
max-line-length=100
max-module-lines=1000
no-space-check=trailing-comma

[VARIABLES]

callbacks=cb_,_cb
dummy-variables-rgx=_
ignored-argument-names=_.*

[TYPECHECK]

contextmanager-decorators=contextlib.contextmanager

# List of class names for which member attributes should not be checked
ignored-classes=

# List of module names for which member attributes should not be checked
ignored-modules=
