[MASTER]
jobs=4
persistent=yes
unsafe-load-any-extension=no
init-hook="import sys; sys.path.append('.')"
load-plugins=tools.pylint.log_checker,tools.pylint.not_checker,pylint.extensions.comparison_placement, pylint.extensions.consider_refactoring_into_while_condition
ignored-modules=rsqlite

# Blacklist files or directories (basenames, not paths)
ignore=

# blacklist files or directories by regex (basenames, not paths)
ignore-patterns=

[EXCEPTIONS]

overgeneral-exceptions=builtins.Exception

[BASIC]

bad-names=foo,bar,baz,toto,tutu,tata
good-names=i,j,k,_

[LOGGING]

logging-modules=logging

[MESSAGES CONTROL]

# These are rules we either want to completely ignore or have no time to fix yet
# disable=
#    missing-module-docstring,
#    missing-function-docstring,
#    invalid-name,
#    line-too-long,
#    too-many-locals,
#    missing-class-docstring,
#    too-many-lines,
#    too-many-arguments,
#    too-many-return-statements,
#    fixme,
#    redefined-outer-name,
#    logging-fstring-interpolation,
#    arguments-differ,
#    protected-access,
#    too-few-public-methods,
#    too-many-public-methods,
#    too-many-statements,
#    too-many-branches,
#    unused-wildcard-import,
#    too-many-instance-attributes,
#    too-many-nested-blocks,
#    wrong-import-position,
#    attribute-defined-outside-init,
#    wildcard-import,
#    wrong-import-order,
#    abstract-method,
#    wrong-import-position,  # handled by isort
#    missing-module-docstring,  # maybe activate in future?
#    missing-class-docstring,  # maybe activate in future?
#    too-many-arguments,  # we don't conform to certain number
#    line-too-long,  # already checked by others
#    missing-timeout,  # we already check this via ruff S113. But we skip all test files
#    use-implicit-booleanness-not-comparison  # we don't use implicit booleanness in the code
#    assignment-from-none  # this is a useless rule and issues false positives especially when considering typing

# When wanting to discover new things to check for comment the following line and uncomment above
# ruff implementation status: https://github.com/astral-sh/ruff/issues/970
disable=all
enable=
    unnecessary-ellipsis,
    no-value-for-parameter,
    no-member,
    bad-except-order,
    unexpected-keyword-arg,
    too-many-function-args,
#     no-else-return,  # https://github.com/PyCQA/pylint/issues/8155
    comparison-with-callable,
    redefined-outer-name,
    useless-super-delegation,
    super-init-not-called,
    unreachable,
    isinstance-second-argument-not-valid-type,
    unsupported-membership-test,
    confusing-with-statement,
    method-hidden,
    chained-comparison,
    consider-using-enumerate,
    deprecated-method,
    superfluous-parens,
    undefined-loop-variable,
    kwarg-superseded-by-positional-arg,
#    invalid-field-call,  # https://github.com/pylint-dev/pylint/issues/9130
    return-in-finally,
    misplaced-comparison-constant,
    shadowed-import,
    unbalanced-dict-unpacking,
    positional-only-arguments-expected,
    invalid-slice-step,
    consider-refactoring-into-while-condition,
    rotki-lognokwargs,
    rotki-nonbooleannot

[REPORTS]

reports=no
score=no

[FORMAT]

expected-line-ending-format=LF
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
max-line-length=100
max-module-lines=1000

[VARIABLES]

callbacks=cb_,_cb
dummy-variables-rgx=_
ignored-argument-names=_.*

[TYPECHECK]

contextmanager-decorators=contextlib.contextmanager

# List of class names for which member attributes should not be checked
ignored-classes=

