sphinx==4.0.2
sphinx-autobuild==2021.3.14
sphinx_rtd_theme==0.5.2
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-httpexample==0.11.0
# This is our fork of releases in order to handle https://github.com/rotki/rotki/issues/704
rotki-releases
