mypy==1.3.0
mypy-extensions==1.0.0
pylint==2.17.4
astroid==2.15.4  # engine of pylint, upgrade them together
ruff==0.0.272
double-indent-rotki==0.1.7  # our fork of double indent
flake8==6.0.0
flake8-commas==2.1.0
flake8-bugbear==23.6.5
flake8-tuple==0.4.1
flake8-comprehensions==3.13.0
flake8-debugger==4.1.2
flake8-executable==2.1.3
flake8-mutable==1.2.0
pep8-naming==0.13.3
isort==5.12.0

# type packages used by mypy
# pinned here so that we can have reproducible mypy runs
types-chardet==5.0.4.6
types-cryptography==3.3.23.2
types-enum34==1.1.8
types-ipaddress==1.0.8
types-pkg-resources==0.1.3
types-requests==2.31.0.1
types-urllib3==1.26.25.13
types-toml==0.10.8.6
