sphinx==7.2.6
sphinx-autobuild==2024.2.4
sphinx_inline_tabs==2023.4.21
sphinx_rtd_theme==2.0.0
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-httpexample==1.1
# This is our fork of releases in order to handle https://github.com/rotki/rotki/issues/704
rotki-releases
