mypy==1.15.0
mypy-extensions==1.0.0
pylint==3.3.6
astroid==3.3.9  # engine of pylint, upgrade them together
ruff==0.11.5
double-indent-rotki==0.1.7  # our fork of double indent
pyright==1.1.399

# type packages used by mypy
# pinned here so that we can have reproducible mypy runs
types-chardet==5.0.4.6
types-cryptography==3.3.23.2
types-enum34==1.1.8
types-ipaddress==1.0.8
types-setuptools==78.1.0.20250329
types-requests==2.32.0.20250328
types-urllib3==1.26.25.14
types-toml==0.10.8.20240310
types-python-dateutil==2.9.0.20241206
