-r requirements.txt
-r requirements_lint.txt

pytest==8.3.4
pytest-xdist==3.6.1
bump2version==1.0.1
pytest-cov==5.0.0
coverage==7.6.10
psutil==7.0.0
pytest-freezer==0.4.9
pytest-deadfixtures @ git+https://github.com/rotki/pytest-deadfixtures@87d2be8#egg=pytest-deadfixtures # temporarily due to false positive
pytest-socket==0.7.0
pytest-vcr==1.0.2
vcrpy==7.0.0
freezegun==1.5.1


# To test google spreadsheet uploading
google-api-python-client==2.165.0
google-auth-httplib2==0.2.0
google-api-core==2.24.2
google-auth==2.38.0
