-r requirements.txt
-r requirements_lint.txt

pytest==7.2.1
bump2version==1.0.1
pytest-cov==4.0.0
coverage==6.5.0
psutil==5.9.4
pytest-freezer==0.4.6
git+https://github.com/rotki/pytest-deadfixtures@87d2be8#egg=pytest-deadfixtures # temporarily due to false positive
pytest-socket==0.5.1
pytest-vcr==1.0.2
freezegun==1.2.2
flaky==3.7.0


# To test google spreadsheet uploading
google-api-python-client==2.65.0
google-auth-httplib2==0.1.0
google-api-core==1.32.0  # temporarily due to protobuf conflictwith web3
google-auth==1.25.0  # temporarily due to protobuf conflictwith web3
