mypy==0.812
mypy-extensions==0.4.3
pylint==2.7.0
astroid==2.5  # engine of pylint, upgrade them together
flake8==3.8.4
flake8-commas==2.0.0
flake8-bugbear==20.11.1
flake8-tuple==0.4.1
flake8-comprehensions==3.3.1
flake8-debugger==4.0.0
flake8-executable==2.1.1
flake8-mutable==1.2.0
pep8-naming==0.11.1
isort==5.7.0
