.DS_Store
node_modules
/dist
/build
/coverage
/reports

/tests/spectron/reports/
selenium-debug.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

#Electron-builder output
/dist_electron
tests/e2e/videos
tests/e2e/screenshots
tests/**/coverage
.nyc_output
.eslintcache

rotki_config.json
package-lock.json
components.d.ts
.e2e
.contract
traces
planning