{
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "extends": "stylelint-config-recommended-vue/scss",
  "overrides": [
    {
      "files": [
        "**/*.scss"
      ],
      "customSyntax": "postcss-scss"
    }
    ],
  "rules": {
    "no-empty-source": null,
    "selector-pseudo-element-no-unknown": [
      true,
      {}
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "deep"]
      }
    ],
    "scss/selector-nest-combinators": "always",
    "scss/selector-no-redundant-nesting-selector": true,
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["tailwind", "apply", "variants", "responsive", "screen", "each", "for"]
      }
    ],
    "rule-empty-line-before": [
      "always", {
        "except": ["first-nested"]
      }
    ],
    "comment-no-empty": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-single-line-max-declarations": 1,
    "selector-class-pattern": "^(?:(?![^&](__|--))[\\s\\S])*$",
    "selector-nested-pattern": "^(?:(?![^&](__|--))[\\s\\S])*$",
    "order/order": [
      {
        "type": "at-rule",
        "name": "apply"
      },
      "custom-properties",
      "dollar-variables",
      "declarations",
      "rules",
      "at-rules"
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["tailwind", "apply", "variants", "responsive", "screen", "each", "for", "use"]
      }
    ],
    "at-rule-no-deprecated": [
      true,
      {
        "ignoreAtRules": ["apply"]
      }
    ]
  }
}
