@import '~@/scss/scroll';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-y-hidden #{!important};
  @apply max-h-screen;
}

body {
  overflow-y: auto !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
  height: calc(100vh - 64px);
  margin-top: 64px !important;
  background: var(--v-rotki-light-grey-base);

  @media only screen and (max-width: 960px) {
    height: calc(100vh - 56px);
    margin-top: 56px;
  }
}

.container {
  max-width: 1500px;
  @apply px-4;
}

aside {
  max-height: calc(100vh - 64px);
  @apply fixed #{!important};
}

.table-inside-dialog {
  scroll-behavior: smooth;
  max-height: calc(100vh - 340px);
  overflow: auto;
}

// Override vuetify styles

.theme {
  &--light {
    --border-color: rgba(0, 0, 0, 0.12);
    /* stylelint-disable selector-class-pattern,selector-nested-pattern,scss/selector-nest-combinators */

    .v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined):not(.primary) {
      /* stylelint-enable selector-class-pattern,selector-nested-pattern,scss/selector-nest-combinators */
      background-color: transparent;
    }
  }

  &--dark {
    --border-color: rgba(255, 255, 255, 0.12);
  }
}

.v-application {
  &--wrap {
    @apply min-h-0 #{!important};
  }
}

.v-btn {
  &--fixed {
    @apply z-[4];
  }
}

.v-menu {
  &__content {
    @apply bg-white dark:bg-neutral-900;
  }
}

.v-data-table {
  @apply bg-transparent dark:bg-neutral-900 #{!important};
}

.v-tab {
  @apply uppercase;
}

.v-card {
  &__subtitle,
  &__text,
  &__title,
  &__actions {
    @apply px-6 #{!important};
  }

  &__title {
    @apply pt-6 pb-5;
  }

  &__text {
    &.no-padding {
      @apply p-0 #{!important}
    }

    @apply pb-6;
  }

  &__actions {
    @apply pb-6 #{!important};
  }

  @apply rounded-lg #{!important};
}
