@import '~@/scss/scroll';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-y-hidden #{!important};
  @apply max-h-screen;
}

body {
  overflow-y: auto !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
  height: calc(100vh - 64px);
  margin-top: 64px !important;
  background: var(--v-rotki-light-grey-base);

  @media only screen and (max-width: 767px) {
    height: calc(100vh - 56px);
    margin-top: 56px !important;
  }
}

.container {
  @apply px-4;
  max-width: 1500px;
}

aside {
  @apply fixed max-h-[calc(100vh-3.5rem)] md:max-h-[calc(100vh-4rem)] #{!important};
}

.table-inside-dialog {
  scroll-behavior: smooth;
  max-height: calc(100vh - 21.25rem);
  overflow: auto;
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

// Override vuetify styles

.light {
  --border-color: rgba(0, 0, 0, 0.12);
}

.dark {
  --border-color: rgba(255, 255, 255, 0.12);
}

.v-application {
  &--wrap {
    @apply min-h-0 #{!important};
  }
}

.v-menu {
  &__content {
    @apply bg-white dark:bg-neutral-900;
  }
}

.v-data-table {
  @apply bg-transparent dark:bg-neutral-900 #{!important};
}

.v-card {
  @apply rounded-lg #{!important};

  &__subtitle,
  &__text,
  &__title,
  &__actions {
    @apply px-6 #{!important};
  }

  &__title {
    @apply pt-6 pb-5;
  }

  &__text {
    @apply pb-6;

    &.no-padding {
      @apply p-0 #{!important};
    }
  }

  &__actions {
    @apply pb-6 #{!important};
  }
}

.skeleton {
  @apply animate-pulse bg-gray-200 dark:bg-gray-800
}

.icon-bg {
  @apply dark:rounded-md dark:bg-white p-[0.1rem];
}

.blur {
  filter: blur(0.75em);
}

.break-words {
  word-break: break-word;
}
