@use 'scss/scroll.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-y-hidden #{!important};
  @apply max-h-screen;

  // Fix the issue where the weird font looks bolder than it is supposed to be.
  @apply antialiased;
}

body {
  @apply transition-all bg-rui-grey-50 dark:bg-[#121212] overflow-x-hidden h-[calc(100vh-4rem)] scroll-smooth scroll-pt-16;
  @apply mt-16 overflow-y-auto #{!important};

  --w3m-z-index: 10000;

  @media only screen and (max-width: 767px) {
    @apply h-[calc(100vh-3.5rem)];
    @apply mt-14 #{!important};
  }
}

.container {
  @apply px-4;
  max-width: 1500px;
}

aside {
  @apply max-w-[100vw] top-[3.5rem] md:top-[4rem] max-h-[calc(100vh-3.5rem)] md:max-h-[calc(100vh-4rem)] #{!important};
}

.table-inside-dialog {
  @apply scroll-smooth overflow-auto;
  max-height: calc(100vh - 21.25rem);
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @apply appearance-none
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.skeleton {
  @apply animate-pulse bg-gray-200 dark:bg-gray-800;
}

.icon-bg {
  @apply dark:rounded-md dark:bg-rui-grey-100 p-0.5;
}

.blur {
  filter: blur(0.75em);
}

.break-words {
  word-break: break-word;
}

ul, ol {
  @apply pl-6;
}

a {
  @apply cursor-pointer text-rui-blue-800 dark:text-rui-blue-600;
}

.text-truncate {
  @apply whitespace-nowrap overflow-hidden text-ellipsis #{!important};
}
