html {
  overflow-y: hidden !important;
  max-height: 100vh;
}

.theme {
  &--light {
    /* stylelint-disable */
    .v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined):not(.primary) {
      /* stylelint-enable */
      background-color: transparent;
    }
  }
}

.v-card {
  border-radius: 8px !important;
}

/* stylelint-disable */
.v-card:not(.v-card--flat):not(.v-sheet--outlined) {
  /* stylelint-enable */
  box-shadow: 0 2px 12px rgba(74, 91, 120, 0.1) !important;
}

.v-menu {
  &__content {
    background: white;

    &.theme {
      &--dark {
        background: var(--v-dark-base);
      }
    }
  }
}