.loadingwrapper {
    z-index:    1000;
    height: 100px;
    background: rgba( 255, 255, 255, .8 )
                url('../images/loading-circle.gif')
                50% 50%
                no-repeat;
}

.loadingwrapper_text {
  text-align: center;
}

html.wait, html.wait * { cursor: wait !important; }

/* no scrollbar allowed in the body -- only content scrolls*/
body {
    overflow: hidden;
}

#page-wrapper {
    height:964px;
    overflow: auto;
}

body.loading {
    display: block;
}

.exchange-icon {
    filter: grayscale(100%);
    width: 50px;
    height: 50px;
}

.exchange-icon-inverted {
    filter: grayscale(100%) invert(100%);
    width: 50px;
    height: 50px;
}

td.details-control {
    text-align:center;
    color:forestgreen;
    cursor: pointer;
}
tr.shown td.details-control {
    text-align:center;
    color:red;
}

label.form-prompt {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3.centered-title, h4.centered-title {
    text-align: center;
    font-weight: 500;
}

div.rotkehlchen-table {
    margin-top: 7px;
    margin-left: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
}

div.invisible-anchor {
    display:none;
}

#rotkehlchen_no_text {
    width: 150px;
    display: block;
    margin: 10px auto;
    padding: 15px;
    /* outline: 1px solid #e45325; */
}

/* Color customization */

:root {
    --elements-bg-color: #7e4a3b;
    --elements-link-color: #e45325;
    --notification-background: #eeeeee;
}

a>.fa-fw , a{
    color: var(--elements-bg-color);
}

a:focus, a:hover {
    color: var(--elements-link-color);
}

.panel-primary {
    border-color: var(--elements-bg-color);
}

.panel-primary>.panel-heading {
    background-color: var(--elements-bg-color);
    border-color: var(--elements-link-color);
}


#welcome_text {
    text-align: center;
    line-height: 1.9;
    font-size: 16px;
    text-shadow: 0.1px 0.1 px var(--elements-link-color);
    color: var(--elements-bg-color);
}

/* Dropdown Eth Status (Hidden by Default) */
.dropdown-eth-status { min-width: 290px; }
.eth-node-status { padding:0; }
.eth-node-status:hover .dropdown-eth-status {display: block;}

.dropdown-balance-save-status { min-width: 210px; }
.balance-save-status { padding: 0; }
.balance-save-status:hover .dropdown-balance-save-status { display: block; }

.lg-status-icons {
    float:left;
    padding:14px 30px 14px 0px;
    margin-bottom:0px;
}

.lg-status-icons > li > ul > p { text-align:center; padding: 0px 5px 0px 5px; }

.navbar-status-icons {
    float: left;
    margin-left:120px;
}

.no-animations {
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    animation: none !important;
}

.notification-clear {
    display: flex;
    flex-direction: row-reverse;
    background: var(--notification-background);
}

.notification-clear > * {
    padding: 8px;
    color: var(--elements-bg-color);
}

.notification-area {
    width:340px;
    height:300px;
    background: var(--notification-background);
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: .009375em;
    list-style-type: none;
    color: rgba(0,0,0,.87);
}

.title {
    font-size: 1.4rem;
    padding: 8px 8px;
    font-weight: 500;
}

.body {
    padding: 4px 8px;
    word-wrap: break-word;
    font-size: 1.3rem;
    color: rgba(0,0,0,.56)
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 120px;
    margin: 0.5rem 1rem;
    position: relative;
    width: 300px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.notification {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px;
}

.notification:first-child {
    flex-grow: 1;
}

.notification .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #757575;
    margin-right: 8px;
    padding-left: 4px;
}

.notifications .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

.no-notifications {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: rgba(0,0,0, .57);
}

.no-notifications p {
    margin-top: 8px;
}

#notification-messages  {
    background-color: var(--notification-background) !important;
}
