/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loadingwrapper {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../images/loading-circle.gif')
                50% 50%
                no-repeat;
}

.loadingtest {
    z-index:    1000;
    height: 100px;
    background: rgba( 255, 255, 255, .8 )
                url('../images/loading-circle.gif')
                50% 50%
                no-repeat;
}

.loadingwrapper_text {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}​

html.wait, html.wait * { cursor: wait !important; }

/* no scrollbar allowed in the body -- only content scrolls*/
body {
    overflow: hidden;
}

#page-wrapper {
    height:964px;
    overflow: auto;
}

body.loading .loadingwrapper {
    display: block;
}

.exchange-icon {
    filter: grayscale(100%);
    width: 50px;
    height: 50px;
}

.exchange-icon-inverted {
    filter: grayscale(100%) invert(100%);
    width: 50px;
    height: 50px;
}

td.details-control {
    text-align:center;
    color:forestgreen;
    cursor: pointer;
}
tr.shown td.details-control {
    text-align:center;
    color:red;
}

label.form-prompt {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3.centered-title, h4.centered-title {
    text-align: center;
    font-weight: 500;
}

div.rotkehlchen-table {
    margin-top: 7px;
    margin-left: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
}

div.invisible-anchor {
    display:none;
}

#rotkehlchen_no_text {
    width: 150px;
    display: block;
    margin: 10px auto;
    padding: 15px;
    /* outline: 1px solid #e45325; */
}

/* Color customization */

:root {
    --elements-bg-color: #7e4a3b;
    --elements-link-color: #e45325;
}

a>.fa-fw , a{
    color: var(--elements-bg-color);
}

a:focus, a:hover {
    color: var(--elements-link-color);
}

.panel-primary {
    border-color: var(--elements-bg-color);
}

.panel-primary>.panel-heading {
    background-color: var(--elements-bg-color);
    border-color: var(--elements-link-color);
}


#welcome_text {
    text-align: center;
    line-height: 1.9;
    font-size: 16px;
    text-shadow: 0.1px 0.1 px var(--elements-link-color);
    color: var(--elements-bg-color);
}
