.wy-side-nav-search > a {
  width: 175px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.rst-content section img {
  margin-bottom: 1.5rem !important;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
