name: Cassette Merge

# only trigger on pull request closed events
on:
  pull_request_target:
    types: [ closed ]

permissions: { }

jobs:
  merge:
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'rotki/rotki' }}
    environment: cassette-merge
    steps:
      - uses: rotki/action-cassette-deck@v3
        with:
          token: ${{ secrets.MERGE_TOKEN }}
          cassette_repo: test-caching