name: Rotki Development Builds

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - build

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  PYTHON_MACOS: 11

permissions: { }

jobs:
  build-linux:
    name: Build linux binary
    if: ${{ github.repository == 'rotki/rotki' || github.event_name != 'schedule' }}
    env:
      CI: true
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      actions: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Load env
        uses: rotki/action-env@v2
        with:
          env_file: .github/.env.ci

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          package_json_file: frontend/package.json

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: 'frontend/.nvmrc'

      - name: Package
        id: packaging
        run: |
          echo "::group::packaging dependencies"
          pip3 install --upgrade uv=="${UV_VERSION}"
          uv sync --group packaging
          echo "::endgroup::"
          uv run ./package.py --build full

      - name: Upload files
        uses: actions/upload-artifact@v4
        with:
          name: linux-app
          path: |
            dist/*.AppImage
            dist/*.AppImage.sha512

  build-macos:
    name: 'Build macOS binary ${{ matrix.os.arch }}'
    if: ${{ github.repository == 'rotki/rotki' || github.event_name != 'schedule' }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - runner: macos-14
            arch: 'arm64'
            target: 11
            platform: macosx-11.0-arm64
          - runner: macos-13
            arch: 'x86_64'
            target: 10.9
            platform: macosx-10.9-x86_64
    env:
      CI: true
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ARCHFLAGS: -arch ${{ matrix.os.arch }}
      _PYTHON_HOST_PLATFORM: ${{ matrix.os.platform }}
      MACOSX_DEPLOYMENT_TARGET: ${{ matrix.os.target }}
      CMAKE_OSX_ARCHITECTURES: ${{ matrix.os.arch }}
      NODE_OPTIONS: --max-old-space-size=4096
    environment: macos_sign
    runs-on: ${{ matrix.os.runner }}
    permissions:
      contents: read
      actions: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Load env
        uses: rotki/action-env@v2
        with:
          env_file: .github/.env.ci

      - name: Add rust target for building deps
        if: ${{ matrix.os.arch == 'arm64' }}
        run: rustup target add aarch64-apple-darwin

      - name: Cache python pkg
        uses: actions/cache@v4
        with:
          path: ~/python*.pkg
          key: ${{ runner.os }}-python-${{ env.PYTHON_VERSION }}-${{ env.PYTHON_MACOS }}-${{ matrix.os.arch }}

      - name: Set up python
        run: packaging/setup-macos-python.sh "${PYTHON_VERSION}" "${PYTHON_MACOS}"

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          package_json_file: frontend/package.json

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: 'frontend/.nvmrc'

      - name: Package
        id: packaging
        run: |
          echo "::group::packaging dependencies"
          pip3 install --upgrade uv=="${UV_VERSION}"
          pip3 install virtualenv
          python3 -m virtualenv ~/venv
          source ~/venv/bin/activate
          uv sync --group packaging
          echo "::endgroup::"
          uv run ./package.py --build full
        env:
          CERTIFICATE_OSX_APPLICATION: ${{ secrets.CERTIFICATE_OSX_APPLICATION }}
          CSC_KEY_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
          IDENTITY: ${{ secrets.IDENTITY }}
          APPLEID: ${{ secrets.APPLEID }}
          APPLEIDPASS: ${{ secrets.APPLEIDPASS }}

      - name: Upload files (${{ matrix.os.arch }})
        uses: actions/upload-artifact@v4
        with:
          name: macos-app-${{ matrix.os.arch }}
          path: |
            dist/rotki-darwin_*.dmg
            dist/rotki-darwin_*.dmg.sha512

      - name: Upload colibri files
        uses: actions/upload-artifact@v4
        with:
          name: macos-colibri-${{ matrix.os.arch }}
          path: |
            dist/colibri

  build-windows:
    name: Build windows binary
    if: ${{ github.repository == 'rotki/rotki' || github.event_name != 'schedule' }}
    env:
      CI: true
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: windows-latest
    environment: windows_sign
    permissions:
      contents: read
      actions: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Load env
        uses: rotki/action-env@v2
        with:
          env_file: .github/.env.ci

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          package_json_file: frontend/package.json

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: 'frontend/.nvmrc'

      - name: Build rotki
        id: packaging
        env:
          CERTIFICATE_WIN_APPLICATION: ${{ secrets.CERTIFICATE_WIN_APPLICATION }}
          CSC_KEY_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
        run: |
          echo ::group::"packaging dependencies"          
          pip3 install --upgrade uv=="${env:UV_VERSION}"
          uv sync --group packaging
          echo ::endgroup::
          uv run python .\package.py --build full
        shell: powershell

      - name: Upload files
        uses: actions/upload-artifact@v4
        with:
          name: windows-app
          path: |
            dist\rotki-win32*.exe
            dist\rotki-win32*.exe.sha512

  build-docker:
    name: Build docker images
    if: ${{ github.repository == 'rotki/rotki' || github.event_name != 'schedule' }}
    runs-on: ${{ matrix.platform.runner }}
    environment: docker
    permissions:
      contents: read
      actions: write
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: linux/amd64
            runner: ubuntu-24.04
          - name: linux/arm64
            runner: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Prepare
        id: prepare
        run: |
          platform=${{ matrix.platform.name }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> "$GITHUB_ENV"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Rotki Version
        id: rotki_version
        run: |
          ROTKI_VERSION=$(cat .bumpversion.cfg | grep 'current_version = ' | sed -n -e 's/current_version = //p')
          POSTFIX=$(if git describe --tags --exact-match "$REVISION" &>/dev/null; then echo ''; else echo '-dev'; fi)
          ROTKI_VERSION=${ROTKI_VERSION}${POSTFIX}$(date +'%Y%m%d')
          echo "version=${ROTKI_VERSION}" >> "$GITHUB_OUTPUT"

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ matrix.platform.name }}
          provenance: mode=max
          build-args: |
            REVISION=${{ github.sha }}
            ROTKI_VERSION=${{ steps.rotki_version.outputs.version }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ github.repository }}
          outputs: type=image,"name=${{ github.repository }}",push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        env:
          TEMP: ${{ runner.temp }}
          DIGEST: ${{ steps.build.outputs.digest }}
        run: |
          mkdir -p "${TEMP}/digests"
          digest="${DIGEST}"
          touch "${TEMP}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  docker-merge:
    runs-on: ubuntu-latest
    needs:
      - build-docker
    environment: docker
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
          tags: |
            type=schedule,pattern=nightly
            type=edge,branch=build

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        env:
          REPOSITORY: ${{ github.repository }}
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf "${REPOSITORY}@sha256:%s " *)

      - name: Inspect image
        env:
          REPOSITORY: ${{ github.repository }}
          VERSION: ${{ steps.meta.outputs.version }}
        run: |
          docker buildx imagetools inspect "${REPOSITORY}:${VERSION}"

  notify:
    name: 'Success check'
    if: ${{ always() && (github.repository == 'rotki/rotki' || github.event_name != 'schedule') }}
    needs: [ 'build-linux', 'build-windows', 'build-macos', 'docker-merge' ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Check if any task failed
        run: |
          pip install requests

          data=($(echo "${RESULT}" | sed 's/[][,]//g'))
          for i in "${data[@]}"
          do
            if [[ $i == "failure" ]]; then
                ./.github/scripts/notifier.py --webhook ${{ secrets.WEBHOOK }} --run-id ${{ github.run_id }}
                exit 1;
            fi
          done
        env:
          RESULT: ${{ toJSON(needs.*.result) }}