name: Rotki Packaging
on:
  push:
    tags:
      - 'v*'
env:
  PYINSTALLER_VERSION: 3.5 # If editing this, make sure to also change rotki_nightly_builds.yml

jobs:
  create_draft:
    name: Create Draft
    runs-on: ubuntu-18.04
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get Release Version
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Generate changelog
        id: change_log
        run: |
          version=$(echo $RELEASE_VERSION | sed 's/^v//g')
          changes=$(python3 tools/scripts/generate_changelog.py -f docs/changelog.rst -v $version)
          changes="${changes//'%'/'%25'}"
          changes="${changes//$'\n'/'%0A'}"
          changes="${changes//$'\r'/'%0D'}"
          echo "::set-output name=changes::$changes"
          echo "::set-output name=version::$version"
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ env.RELEASE_VERSION }}
          release_name: Rotki ${{ env.RELEASE_VERSION }} -
          body: |
            # Description

            For more information check the detailed changelog below :point_down:

            # Downloads

            Upgrade is highly recommended. Download the binary for your OS from below:

            - **Linux**
              - [AppImage](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotki-linux_x86_64-${{ env.RELEASE_VERSION }}.AppImage)
              - [Tar with executable](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotki-linux_x64-${{ env.RELEASE_VERSION }}.tar.xz)
              - [deb package](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotki-linux_amd64-${{ env.RELEASE_VERSION }}.deb)
              - [Standalone Backend](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotkehlchen-${{ steps.change_log.outputs.version }}-linux)
            - **OSX**
              - [DMG](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotki-darwin_x64-${{ env.RELEASE_VERSION }}.dmg)
              - [ZIP](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotki-darwin_x64-${{ env.RELEASE_VERSION }}.zip)
              - [Standalone Backend](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotkehlchen-backend-${{ steps.change_log.outputs.version }}-macos.zip)
            - **Windows**
              - [Windows executable](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotki-win32_x64-${{ env.RELEASE_VERSION }}.exe)
              - [Standalone Backend](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotkehlchen-${{ steps.change_log.outputs.version }}-windows.exe)
            
            Optionally, you can also [verify the integrity](https://rotki.readthedocs.io/en/latest/installation_guide.html#verifying-integrity) of the aforementioned binaries using the following checksums:
            
            - **Linux**
              - [AppImage checksum](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotki-linux_x86_64-${{ env.RELEASE_VERSION }}.AppImage.sha512)
              - [Tar with executable checksum](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotki-linux_x64-${{ env.RELEASE_VERSION }}.tar.xz.sha512)
              - [deb package](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotki-linux_amd64-${{ env.RELEASE_VERSION }}.deb.sha512)
              - [Standalone Backend](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotkehlchen-${{ steps.change_log.outputs.version }}-linux.sha512)
            - **OSX**
              - [DMG checksum](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotki-darwin_x64-${{ env.RELEASE_VERSION }}.dmg.sha512)
              - [ZIP checksum](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotki-darwin_x64-${{ env.RELEASE_VERSION }}.zip.sha512)
              - [Standalone Backend](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotkehlchen-backend-${{ steps.change_log.outputs.version }}-macos.zip.sha512)
            - **Windows**
              - [Windows executable checksum](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotki-win32_x64-${{ env.RELEASE_VERSION }}.exe.sha512)
              - [Standalone Backend](https://github.com/rotki/rotki/releases/download/${{ env.RELEASE_VERSION }}/rotkehlchen-${{ steps.change_log.outputs.version }}-windows.exe.sha512)

            # Release Highlights
            ----

            These were the highlights. Check below for the full changelog :point_down:

            ${{ steps.change_log.outputs.changes }}

            # Newly supported assets

            Added support for the following assets:

          draft: true
  linux:
    env:
      CI: true
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
        python-version: [3.7]
        node-version: [14.x]
    runs-on: ${{ matrix.os }}
    needs: create_draft
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up python
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: pip cache persistence
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ matrix.os }}-pip-packaging-${{ hashFiles('**/requirements.txt') }}
      - name: npm cache persistence
        uses: actions/cache@v2
        with:
          path: |
            ~/.npm
            ~/cache/Cypress
          key: ${{ matrix.os }}-node--packaging-${{ hashFiles('**/app/package-lock.json') }}
      - name: Setup SQLCipher
        run: |
          sudo apt-get update
          sudo apt-get install libxml2-utils
          ./install_deps.sh
          sudo ldconfig
      - name: Package
        id: packaging
        run: |
          npm install -g npm@7
          ./package.sh
      - name: Upload AppImage sha512 checksum file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.binary_checksum }}
          asset_name: ${{ steps.packaging.outputs.binary_checksum_name }}
          asset_content_type: text/plain
      - name: Upload tar sha512 checksum file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.archive_checksum }}
          asset_name: ${{ steps.packaging.outputs.archive_checksum_name }}
          asset_content_type: text/plain
      - name: Upload deb sha512 checksum file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.deb_checksum }}
          asset_name: ${{ steps.packaging.outputs.deb_checksum_name }}
          asset_content_type: text/plain
      - name: Upload backend binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.backend_binary }}
          asset_name: ${{ steps.packaging.outputs.backend_binary_name }}
          asset_content_type: application/octet-stream
      - name: Upload backend binary checksum
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.backend_binary_checksum }}
          asset_name: ${{ steps.packaging.outputs.backend_binary_checksum_name }}
          asset_content_type: text/plain

  macos:
    env:
      CI: true
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    environment: macos_sign
    strategy:
      matrix:
        os: [macos-10.15]
        python-version: [3.7]
        node-version: [14.x]
    runs-on: ${{ matrix.os }}
    needs: create_draft
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up python
        run: packaging/setup-osx.sh
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: pip cache persistence
        uses: actions/cache@v2
        with:
          path: ~/Library/Caches/pip
          key: ${{ matrix.os }}-pip-packaging-${{ hashFiles('**/requirements.txt') }}
      - name: npm cache persistence
        uses: actions/cache@v2
        with:
          path: |
            ~/.npm
            ~/Library/Caches/Cypress
          key: ${{ matrix.os }}-node--packaging-${{ hashFiles('**/app/package-lock.json') }}
      - name: Setup SQLCipher
        run: |
          cd "$(brew --repo homebrew/core)"
          git checkout 31f4d9cef46b1c39cdbe2f72ab682b5d0b02cf67 Formula/sqlcipher.rb #This formula installs 4.4.3 of sqlcipher
          brew install sqlcipher
      - name: Package
        id: packaging
        run: |
          pip3 install --upgrade pip
          pip3 install virtualenv
          python3 -m virtualenv ~/venv
          source ~/venv/bin/activate
          npm install -g npm@7
          ./package.sh
        env:
          CERTIFICATE_OSX_APPLICATION: ${{ secrets.CERTIFICATE_OSX_APPLICATION }}
          CSC_KEY_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
          IDENTITY: ${{ secrets.IDENTITY }}
          APPLEID: ${{ secrets.APPLEID }}
          APPLEIDPASS: ${{ secrets.APPLEIDPASS }}
      - name: Upload dmg sha512 checksum file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.binary_checksum }}
          asset_name: ${{ steps.packaging.outputs.binary_checksum_name }}
          asset_content_type: text/plain
      - name: Upload zip sha512 checksum file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.archive_checksum }}
          asset_name: ${{ steps.packaging.outputs.archive_checksum_name }}
          asset_content_type: text/plain
      - name: Upload backend binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.backend_binary }}
          asset_name: ${{ steps.packaging.outputs.backend_binary_name }}
          asset_content_type: application/zip
      - name: Upload backend binary checksum
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.backend_binary_checksum }}
          asset_name: ${{ steps.packaging.outputs.backend_binary_checksum_name }}
          asset_content_type: text/plain

  windows:
    env:
      CI: true
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SQLCIPHER_VERSION: 'v4.4.3'
      PYSQLCIPHER3_VERSION: 'c01b3bda144073eb34412ae64702fa2362a778e7'
      BUILD_DEPENDENCIES: "build-dependencies"
    strategy:
      matrix:
        os: [ windows-latest ]
        python-version: [ 3.7 ]
        node-version: [ 14.x ]
    runs-on: ${{ matrix.os }}
    needs: create_draft
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up python
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: pip cache persistence
        uses: actions/cache@v2    
        with:
          path: ~\AppData\Local\pip\Cache
          key: ${{ matrix.os }}-pip-packaging-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ matrix.os }}-pip-packaging-${{ hashFiles('**/requirements.txt') }}
      - name: Get npm cache directory
        id: npm-cache
        run: |
          echo "::set-output name=dir::$(npm config get cache)"
      - name: npm cache persistence
        uses: actions/cache@v2    
        with:
          path: | 
            ${{ steps.npm-cache.outputs.dir }}
            ~\AppData\Local\Cypress
          key: ${{ matrix.os }}-node--packaging-${{ hashFiles('**/app/package-lock.json') }}
          restore-keys: |
            ${{ matrix.os }}-node--packaging-${{ hashFiles('**/app/package-lock.json') }}
      - name: Persist Build Dependencies
        uses: actions/cache@v2        
        with:
          path: | 
            ~\${{ env.BUILD_DEPENDENCIES }}\
            ~\AppData\Local\Temp\chocolatey\
          key: ${{ matrix.os }}-build-dependencies-${{ env.SQLCIPHER_VERSION }}-${{ env.PYSQLCIPHER3_VERSION }}
          restore-keys: |
            ${{ matrix.os }}-build-dependencies-${{ env.SQLCIPHER_VERSION }}-${{ env.PYSQLCIPHER3_VERSION }}
      - name: Build rotki
        id: packaging
        run: |
          npm install -g npm@7
          .\package.ps1
        shell: powershell
      - name: Upload exe sha512 checksum file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.binary_checksum }}
          asset_name: ${{ steps.packaging.outputs.binary_checksum_name }}
          asset_content_type: text/plain
      - name: Upload backend binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.backend_binary }}
          asset_name: ${{ steps.packaging.outputs.backend_binary_name }}
          asset_content_type: application/octet-stream
      - name: Upload backend binary checksum
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.backend_binary_checksum }}
          asset_name: ${{ steps.packaging.outputs.backend_binary_checksum_name }}
          asset_content_type: text/plain

  docker:
    runs-on: ubuntu-18.04
    environment: docker
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Rotki Version
        id: rotki_version
        run: echo "::set-output name=version::${GITHUB_REF#refs/*/}"
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            rotki/rotki:latest
            rotki/rotki:${{ steps.rotki_version.outputs.version }}
          build-args: |
            REVISION=${{ github.sha }}
            ROTKI_VERSION=${{ steps.rotki_version.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
