name: Rotki Packaging
on:
  push:
    tags:
      - 'v*'
jobs:
  create_draft:
    name: Create Draft
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Rotki ${{ github.ref }} -
          body: |
            # Description

            For more information check the detailed changelog below :point_down:

            # Binaries

            Upgrade is highly recommended. Choose your binary from below:

            - **Linux**
              - [AppImage](https://github.com/rotki/rotki/releases/download/${{ github.ref }}/rotki-linux_x86_64-${{ github.ref }}.AppImage)
              - [Tar with executable](https://github.com/rotki/rotki/releases/download/${{ github.ref }}rotki-linux_x64-${{ github.ref }}.tar.xz)
            - **OSX**
              -  [DMG](https://github.com/rotki/rotki/releases/download/${{ github.ref }}/rotki-darwin-${{ github.ref }}.dmg)
            - **Windows**
              - [Windows executable](https://github.com/rotki/rotki/releases/download/${{ github.ref }}/rotki-win32-${{ github.ref }}.exe)

            # Release Highlights
            ----

            These were the highlights. Check below for the full changelog :point_down:
            # New Features

            # Bug Fixes

            # Newly supported assets

            Added support for the following assets:

          draft: true
  linux:
    env:
      CI: true
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7]
        node-version: [12.x]
    runs-on: ${{ matrix.os }}
    needs: create_draft
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up python
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: pip cache persistence
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-packaging-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-packaging-
      - name: npm cache persistence
        uses: actions/cache@v2
        with:
          path: |
            ~/.npm
            ~/cache/Cypress
          key: ${{ runner.os }}-node--packaging-${{ hashFiles('**/app/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node--packaging-
      - name: Setup SQLCipher
        run: |
          sudo apt-get update
          sudo apt-get install libxml2-utils
          ./install_deps.sh
          sudo ldconfig
      - name: Package
        id: packaging
        run: ./package.sh
      - name: Upload AppImage sha512 checksum file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.binary_checksum }}
          asset_name: ${{ steps.packaging.outputs.binary_checksum_name }}
          asset_content_type: text/plain
      - name: Upload tar sha512 checksum file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.archive_checksum }}
          asset_name: ${{ steps.packaging.outputs.archive_checksum_name }}
          asset_content_type: text/plain

  osx:
    env:
      CI: true
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        os: [macos-latest]
        python-version: [3.7]
        node-version: [12.x]
    runs-on: ${{ matrix.os }}
    needs: create_draft
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up python
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: pip cache persistence
        uses: actions/cache@v2
        with:
          path: ~/Library/Caches/pip
          key: ${{ runner.os }}-pip-packaging-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-packaging-
      - name: npm cache persistence
        uses: actions/cache@v2
        with:
          path: |
            ~/.npm
            ~/Library/Caches/Cypress
          key: ${{ runner.os }}-node--packaging-${{ hashFiles('**/app/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node--packaging-
      - name: Setup SQLCipher
        run: |
          cd "$(brew --repo homebrew/core)"
          git checkout 2731bfdc785e85de8242b164acbf4fcb627a91e2 Formula/sqlcipher.rb #This formula installs 4.4.0 of sqlcipher
          brew install sqlcipher
      - name: Package
        id: packaging
        run: ./package.sh
      - name: Upload dmg sha512 checksum file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.binary_checksum }}
          asset_name: ${{ steps.packaging.outputs.binary_checksum_name }}
          asset_content_type: text/plain
      - name: Upload zip sha512 checksum file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.packaging.outputs.archive_checksum }}
          asset_name: ${{ steps.packaging.outputs.archive_checksum_name }}
          asset_content_type: text/plain

  windows:
    env:
      CI: true
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SQLCIPHER_VERSION: '4.4.0'
      PYSQLCIPHER3_VERSION: 'fd1b547407bcb7198107fe3c458105286a060b0d'
      BUILD_DEPENDENCIES: "build-dependencies"
    strategy:
      matrix:
        os: [ windows-latest ]
        python-version: [ 3.7 ]
        node-version: [ 12.x ]
    runs-on: ${{ matrix.os }}
    needs: create_draft
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up python
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: pip cache persistence
        uses: actions/cache@v2    
        with:
          path: ~\AppData\Local\pip\Cache
          key: ${{ runner.os }}-pip-packaging-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-packaging-
      - name: Get npm cache directory
        id: npm-cache
        run: |
          echo "::set-output name=dir::$(npm config get cache)"
      - name: npm cache persistence
        uses: actions/cache@v2    
        with:
          path: | 
            ${{ steps.npm-cache.outputs.dir }}
            ~\AppData\Local\Cypress
          key: ${{ runner.os }}-node--packaging-${{ hashFiles('**/app/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node--packaging-
      - name: Persist Build Dependencies
        uses: actions/cache@v2        
        with:
          path: | 
            ~\${{ env.BUILD_DEPENDENCIES }}\
            ~\AppData\Local\Temp\chocolatey\
          key: ${{ runner.os }}-build-dependencies-${{ env.SQLCIPHER_VERSION }}-${{ env.PYSQLCIPHER3_VERSION }}
          restore-keys: |
            ${{ runner.os }}-build-dependencies
      - name: Build rotki
        id: build
        run: .\package.ps1
        shell: powershell
      - name: Upload exe sha512 checksum file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_draft.outputs.upload_url }}
          asset_path: ${{ steps.build.outputs.binary_checksum }}
          asset_name: ${{ steps.build.outputs.binary_checksum_name }}
          asset_content_type: text/plain