/* stylelint-disable no-descending-specificity */

* {
  scrollbar-width: medium;

  &::-webkit-scrollbar {
    width: 14px;
    height: 14px;

    &-thumb {
      @apply bg-rui-grey-300 dark:bg-rui-grey-700;
      height: 6px;
      background-clip: padding-box;
      border-radius: 7px;
      border: 4px solid transparent;

      &:hover {
        @apply bg-rui-grey-400 dark:bg-rui-grey-600;
      }

      &:active {
        @apply bg-rui-grey-500 dark:bg-rui-grey-500;
      }
    }
  }
}

/* stylelint-enable no-descending-specificity */
